﻿<h1 style="color:green; text-align:center;">
    Product Details
</h1>

<div>
    <h2>Id: @Model.Id</h2>
    <h2>Name: @Model.Name</h2>
    <p>Description: @Model.Description</p>
    <p>Price: @Model.Price</p>
    <p>Count: @Model.Count</p>
</div>

<a class="btn btn-primary" href="~/Product/GetAll">
    Back to List
</a>    